<!DOCTYPE html>
<html ng-app="MyFirstApp1">
	<head>
	
	<title>
		Ejemplo petición Ajax
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="controller1.js"></script>
	</head>
	<body ng-controller="FirstController1">			
		<input type="text" ng-model="newPost.title"> <br><br> 
		 <textarea ng-model="newPost.body"> </textarea> <br> 
		 <button ng-click="addPost()">Enviar</button> 
		<ul>
			  <li ng-repeat="post in posts.data">					
			  <b>	{{post.title}}</b>  
			  <p>	{{post.body}}</p>  
				
			</li>  
			
		</ul>
		
	</body>
</html>