<!DOCTYPE html>
<html ng-app="ToDoList">
	<head>
	
	<title>
		Ejemplo petición Ajax
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="angular-local-storage.min.js"></script>
	<script src="controller3.js"></script>
	</head>
	<body ng-controller="ToDoController">			
		
		<ul>
			 
			<li ng-repeat="act in todo">
				<b>{{act.descripcion}}</b> -
				{{ act.fecha | date:'short' }}
			</li>
		</ul>
		<form ng-submit="addActv()">
			<input type="text" ng-model= "newActv.descripcion">
			<input type="date" ng-model= "newActv.fecha">
			<input type="submit" value="Guardar" ></button>
		</form>
		<button ng-click="clean()">Limpiar</button>
	</body>
</html>